<!doctype html>
<html  ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <script src="angular.min.js"></script>
    <script src="ShoppingListCheckOff.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      em{
        margin-bottom: 7px;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
     <div  ng-controller='ToBuyController as showList'>
     <h2>To Buy:</h2>
       <li ng-repeat="item in showList.items">
        Buy {{ item.quantity }} {{ item.name }}
          <button ng-click="showList.removeItem($index);">Bought</button>
        </li>
       <em>{{words1}}</em>
    </div>

    <!-- Already Bought List -->
    <div  ng-controller='AlreadyBoughtController as list2'>
     <h2>Already Bought:</h2>
     <li ng-repeat="item in list2.items">
        Bought {{ item.quantity }} {{ item.name }}
      </li>
      <em>{{list2.words()}}</em>
    </div>
  </div>
</div>

</body>
</html>
